language: python
python:
- 2.7
- 3.3
- 3.4
- 3.5
- 3.6
- pypy
- pypy3
install:
- python setup.py install
- pip install querystringsafe_base64[tests]
- pip install coveralls
- pip install wheel
script:
- py.test --verbose --capture=no --showlocals --cov querystringsafe_base64
- pylama
after_success:
- coveralls
matrix:
  allow_failures:
  - python: pypy3
deploy:
  provider: pypi
  user: thearoom
  password:
    secure: QYKFZY9275pqfhIAJDY7iGxTBH5UvUfOL1LnN5zoPwqH+YE7dG22/FeSsyC4NVxotIyrAkbTJ0sPlYoTb7xXnWclqxA6Zv8tlHK3IjuCEBWnzaDtQ2JVkbbeFM+qmkyNbEZI7l/C91RcvowW8JsluBEZEBwtA2RqlSUSgWxNX11V/J6jUSG+wRJa4MLrFJTWdgyZGzyJAwtueNxFH4W52jPGkZJ4vJxzT3IOMZdwfxFYE2TQ9hLneB8p2Ls3t9yth4Z737YAf3gPhU8xSuOsTLpUN5M7w8RaiGb2JuR8cADiNXQ+1uVtEqmYM+AOFLQCkrP21f/xiJYpu+xehdbc1CAgXQzdtgtF/QoKRzmtBx3yqUaulg29jhRlgotQnlA0uyd1Fh7WDsOhDXK/aMEP2/10Gl/KnH5KRgvTzDzw2YYXjAZqJ50DI2ku9hZDbl/W/e3fTovGiRnXfwL5Yfjh1o5TP66wNH3xE5a1yR7N3oE1raqwILjy3zCAh27izcBK/Kc1S8LACAvLAPBdRh5kW1+2C709DdX62ekQWGcLfNJhg7ZJ7gL+CrszZ3mjz1SAqYx6LWNSjxFI59t7HZarWrMmMptFffVQlwv7mPi6myKiOdXxo+JEoJNBk7q01slJeqoapdrhiywekjyOcUFqLsq8LLiwBT4pYJKfKhMBPRY=
  on:
    tags: true
    all_branches: true
    repo: ClearcodeHQ/querystringsafe_base64
